body { 
color: #FFB94C;
background-color: #FFF6E9; 
font-size: 16px;
background-image: url("https://scontent.xx.fbcdn.net/hphotos-xfa1/v/t1.0-9/11891141_544534445694708_2053586726192061516_n.jpg?oh=181b12cafb09774ae962dcc4b07ae471&oe=56F75770");
}
.name {text-align:center;
font-family: Apple Chancery;
font-size: 68px;
}
.adress{
text-align: center;
font-size: 35px;
font-family: courier new;
}
h6{
color: #E86522
}
a:link{
    text-decoration: none;
    color:#008B45;
}

a:hover{
    color:#00FF00;
}

a:visited{
    color:#EE9A00;
}

.time{
	text-align:center;
	font-family: Apple Chancery;
	font-size:35px;
}
.crabs { 
	text-align: center;
	font-family: courier new;
	font-size: 35px;
}
div{
	position: floating;
	margin: top left;
}
