body { 
color: #FFB94C;
background-color: #FFF6E9; 
font-size: 16px;
background-image: url("https://scontent.xx.fbcdn.net/hphotos-xpt1/v/t1.0-9/11083642_678923132233209_7288781781056973383_n.jpg?oh=248517bb80dfd0ce6c3dc8303c7e1c8d&oe=56BE4453");
}
.name {text-align:center;
font-family: Apple Chancery;
font-size: 68px;
}
.adress{
text-align: center;
font-size: 35px;
font-family: courier new;
}
h6{
color: #E86522
}
a:link{
    text-decoration: none;
    color:#008B45;
}

a:hover{
    color:#00FF00;
}

a:visited{
    color:#EE9A00;
}

.time{
	text-align:center;
	font-family: Apple Chancery;
	font-size:35px;
}
.crabs { 
	text-align: center;
	font-family: courier new;
	font-size: 35px;
}
div{
	position: floating;
	margin: top left;
}
