body { 
color: #FFB94C;
background-color: #FFF6E9; 
font-size: 16px; 
}
.name {text-align:center;
font-family: Apple Chancery;
font-size: 68px;
}
.adress{
text-align: center;
font-size: 35px;
}
h6{
color: #E86522
}
#photo{
  https://www.flickr.com/photos/123806931@N05/13966405866/in/album-72157644208906086/;
}
.lily{
  font-size:68px;
  font-family: Apple Chancery;
  }
  .hot{
    font-size: 68px;
    font-family:Apple Chancery;
  }
